{% extends "layout.html" %} 

{% block title %}Ajout d'établissement{% endblock %} 

{% block main %}
    <div>
        <button class="button_action1"
                type="button">
            Ajouter un établissement
        </button>
        <button class="button_action1"
                type="button">
            Importer un CSV ...
        </button>
    </div>
    <p>Utilisez l'importation d'un CSV pour plus de 5 établissements.</p>
    <form action="" method="post" class="etablissement">
        <div class="etablissement">
            <p>Etablissement 1</p>
            <div class="etablissement">
                    <label for="siret">Siret</label>
                    <input type="text" name="siret" id="siret" required>
            </div>
            <div class="etablissement">
                    <label for="adresse">Adresse postal</label>
                    <input type="text" name="adresse" id="adresse">
            </div>
            <div class="etablissement">
                <label for="code_postal">Code postal</label>
                <input type="text" name="code_postal" id="code_postal">
            </div>
            <div class="etablissement">
                <label for="commune">Commune</label>
                <input type="text" name="commune" id="commune">
            </div>  
            <div class="etablissement">
                <label for="libelle_activite">Libellé de l'activité</label>
                <input type="text" name="libelle_activite" id="libelle_activite" required>
            </div>
            <div class="etablissement">
                <label for="type_activite">Domaine d'activité</label>
                <input type="text" name="type_activite" id="type_activite">
            </div>
            <p>Agrémentation</p>
            <div class="etablissement">
                <input type="radio" id="yes" name="agrementation" value="yes">
                <label for="yes">Oui</label>
            </div>
            <div class="etablissement">
                <input type="radio" id="no" name="agrementation" value="no">
                <label for="no">Non</label>
            </div>
        </div>
        <div class="etablissement">
            <input type="submit" value="Lancer l'estimation">
            </button>
        </div>
    </form>
{% endblock %}